.animated {
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}
.fadeOut {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}
.fadeInDown {
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
}
.fadeOutDown {
  -webkit-animation-name: fadeOutDown;
          animation-name: fadeOutDown;
}
.fadeOutLeft {
  -webkit-animation-name: fadeOutLeft;
          animation-name: fadeOutLeft;
}
.fadeOutRight {
  -webkit-animation-name: fadeOutRight;
          animation-name: fadeOutRight;
}
.zoomIn {
  -webkit-animation-name: zoomIn;
          animation-name: zoomIn;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fadeOutDown {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
}
@keyframes fadeOutDown {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
}
@-webkit-keyframes fadeOutLeft {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
  }
}
@keyframes fadeOutLeft {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
  }
}
@-webkit-keyframes fadeOutRight {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(50%, 0, 0);
            transform: translate3d(50%, 0, 0);
  }
}
@keyframes fadeOutRight {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(50%, 0, 0);
            transform: translate3d(50%, 0, 0);
  }
}
@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}
.uralsib {
  position: relative;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 1060px;
  max-width: 100%;
  min-height: 568px;
  padding: 45px 10px 0;
  font-size: 16px;
  line-height: normal;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  border-radius: 0 10px 0 0;
  background-color: #002d72;
  overflow: hidden;
}
@media (min-width: 375px) {
  .uralsib {
    min-height: 600px;
  }
}
@media (min-width: 680px) {
  .uralsib {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 10px;
    font-size: 18px;
  }
}
.uralsib *,
.uralsib *:before,
.uralsib *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.uralsib svg {
  display: block;
  fill: currentColor;
  pointer-events: none;
}
.uralsib b {
  font-weight: 700;
}
.uralsib button {
  font-family: inherit;
  font-size: inherit;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.uralsib__bg-movie {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 36%;
  max-width: 231px !important;
}
.uralsib__bg-business {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  width: 52%;
  max-width: 331px !important;
}
.uralsib__logo {
  position: absolute;
  z-index: 2;
  top: 5px;
  right: 12px;
  display: block;
  width: 148px;
  height: 30px;
  color: #fff !important;
  border: 0 !important;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.uralsib__logo:hover {
  opacity: 0.6;
}
@media (hover: none), (hover: on-demand) {
  .uralsib__logo:hover {
    opacity: 1;
  }
}
@media (min-width: 680px) {
  .uralsib__logo {
    top: 8px;
    right: 22px;
    width: 197px;
    height: 40px;
  }
}
.uralsib__logo svg {
  width: 100%;
  height: 100%;
}
.uralsib-enter {
  width: 500px;
  max-width: 100%;
  margin-top: 30px;
}
@media (min-width: 680px) {
  .uralsib-enter {
    margin-top: 0;
  }
}
.uralsib-enter__title {
  position: relative;
  z-index: 2;
  color: #fff !important;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.417em;
  border: 0 !important;
}
a.uralsib-enter__title {
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
@media (hover: none), (hover: on-demand) {
  a.uralsib-enter__title {
    opacity: 1;
  }
}
a.uralsib-enter__title:hover {
  opacity: 0.6;
}
@media (min-width: 680px) {
  .uralsib-enter__title {
    font-size: 48px;
  }
}
.uralsib-enter__description {
  position: relative;
  z-index: 2;
  margin-top: 17px;
  color: #fff;
  line-height: 1.5em;
}
.uralsib-enter__start-btn {
  position: relative;
  z-index: 2;
  width: 170px;
  height: 50px;
  padding: 0;
  margin-top: 42px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  border: 2px solid #fff;
  border-radius: 5px;
  background-color: transparent;
  -webkit-transition: color 0.2s, background-color 0.2s;
  transition: color 0.2s, background-color 0.2s;
}
.uralsib-enter__start-btn:hover {
  color: #002d72;
  background-color: #fff;
}
@media (hover: none), (hover: on-demand) {
  .uralsib-enter__start-btn:hover {
    color: #fff;
    background-color: transparent;
  }
}
.uralsib-q {
  position: relative;
  width: 400px;
  max-width: 100%;
}
.uralsib-q__pages {
  position: absolute;
  top: -30px;
  left: 0;
  color: #7eb1ff;
  font-weight: 700;
}
@media (min-width: 680px) {
  .uralsib-q__pages {
    top: -38px;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
  }
}
.uralsib-q__card {
  position: relative;
  z-index: 3;
  min-height: 400px;
}
@media (min-width: 680px) {
  .uralsib-q__card {
    min-height: 480px;
  }
}
.uralsib-q__cards {
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
  right: 0;
}
.uralsib-q__cards div {
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  height: 380px;
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.25);
          box-shadow: 0px 3px 5px rgba(0,0,0,0.25);
}
@media (min-width: 680px) {
  .uralsib-q__cards div {
    height: 480px;
  }
}
.uralsib-q__cards div:nth-child(1) {
  z-index: 3;
  width: 96%;
}
.uralsib-q__cards div:nth-child(2) {
  z-index: 2;
  bottom: -10px;
  width: 92%;
}
.uralsib-q__cards div:nth-child(3) {
  bottom: -15px;
  width: 88%;
}
.uralsib-q__option {
  position: absolute;
  z-index: 2;
  bottom: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  height: 70px;
  color: #fff;
  border: 10px solid #002d72;
  border-radius: 100%;
  background-color: #002d72;
  cursor: pointer;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: background-color 0.1s, -webkit-transform 0.2s;
  transition: background-color 0.1s, -webkit-transform 0.2s;
  transition: transform 0.2s, background-color 0.1s;
  transition: transform 0.2s, background-color 0.1s, -webkit-transform 0.2s;
}
@media (min-width: 375px) {
  .uralsib-q__option {
    bottom: -20px;
  }
}
@media (min-width: 680px) {
  .uralsib-q__option {
    top: 14px;
    bottom: 0;
    margin: auto 0;
    width: 90px;
    height: 90px;
  }
}
.uralsib-q__option:hover {
  color: #002d72;
  background-color: #fff;
}
@media (hover: none), (hover: on-demand) {
  .uralsib-q__option:hover {
    color: #fff;
    background-color: #002d72;
  }
}
.uralsib-q__option.is-hide {
  opacity: 0;
  visibility: hidden;
}
.uralsib-q__option--left {
  left: 50%;
  -webkit-transform: translate3d(-100%, 100%, 0);
          transform: translate3d(-100%, 100%, 0);
}
@media (min-width: 680px) {
  .uralsib-q__option--left {
    left: auto;
    right: 100%;
    -webkit-transform: translate3d(-3px, 0, 0);
            transform: translate3d(-3px, 0, 0);
  }
}
.uralsib-q__option--right {
  right: 50%;
  -webkit-transform: translate3d(100%, 100%, 0);
          transform: translate3d(100%, 100%, 0);
}
@media (min-width: 680px) {
  .uralsib-q__option--right {
    left: 100%;
    right: auto;
    -webkit-transform: translate3d(3px, 0, 0);
            transform: translate3d(3px, 0, 0);
  }
}
.uralsib-q.is-correct .uralsib-q__option,
.uralsib-q.is-incorrect .uralsib-q__option {
  z-index: 4;
  color: #002d72;
  background-color: #fff;
  cursor: default;
}
.uralsib-q.is-correct .uralsib-q__option--left,
.uralsib-q.is-incorrect .uralsib-q__option--left {
  -webkit-transform: translate3d(-50%, calc(100% - 20px), 0);
          transform: translate3d(-50%, calc(100% - 20px), 0);
}
@media (min-width: 680px) {
  .uralsib-q.is-correct .uralsib-q__option--left,
  .uralsib-q.is-incorrect .uralsib-q__option--left {
    -webkit-transform: translate3d(14px, 0, 0);
            transform: translate3d(14px, 0, 0);
  }
}
.uralsib-q.is-correct .uralsib-q__option--right,
.uralsib-q.is-incorrect .uralsib-q__option--right {
  -webkit-transform: translate3d(50%, calc(100% - 20px), 0);
          transform: translate3d(50%, calc(100% - 20px), 0);
}
@media (min-width: 680px) {
  .uralsib-q.is-correct .uralsib-q__option--right,
  .uralsib-q.is-incorrect .uralsib-q__option--right {
    -webkit-transform: translate3d(-14px, 0, 0);
            transform: translate3d(-14px, 0, 0);
  }
}
.uralsib-q.is-correct .uralsib-q__option {
  color: #43b02a;
}
.uralsib-q.is-incorrect .uralsib-q__option {
  color: #ff6c6c;
}
.uralsib-q__option-icon {
  position: relative;
  width: 60px;
  height: 60px;
  color: currentColor;
  border: 3px solid currentColor;
  border-radius: 100%;
}
@media (min-width: 680px) {
  .uralsib-q__option-icon {
    width: 75px;
    height: 75px;
  }
}
.uralsib-q__option-icon svg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 34px;
}
@media (min-width: 680px) {
  .uralsib-q__option-icon svg {
    width: auto;
  }
}
.uralsib-q__option-caption {
  position: absolute;
  bottom: 0;
  left: 50%;
  padding: 0 5px;
  color: currentColor;
  font-size: 14px;
  font-weight: 700;
  background-color: #002d72;
  -webkit-transform: translate3d(-50%, 14px, 0);
          transform: translate3d(-50%, 14px, 0);
  -webkit-transition: -webkit-transform 0.1s;
  transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s;
}
.uralsib-q__option:hover .uralsib-q__option-caption {
  color: #fff;
  -webkit-transform: translate3d(-50%, 20px, 0);
          transform: translate3d(-50%, 20px, 0);
}
@media (hover: none), (hover: on-demand) {
  .uralsib-q__option:hover .uralsib-q__option-caption {
    color: currentColor;
    -webkit-transform: translate3d(-50%, 14px, 0);
            transform: translate3d(-50%, 14px, 0);
  }
}
.uralsib-q.is-correct .uralsib-q__option:hover .uralsib-q__option-caption,
.uralsib-q.is-incorrect .uralsib-q__option:hover .uralsib-q__option-caption {
  color: currentColor;
}
.uralsib-q.is-correct .uralsib-q__option-caption,
.uralsib-q.is-incorrect .uralsib-q__option-caption {
  -webkit-transform: translate3d(-50%, 20px, 0);
          transform: translate3d(-50%, 20px, 0);
}
.uralsib-q__option-hint {
  position: absolute;
  top: calc(100% + 30px);
  color: #fff;
  opacity: 0.5;
}
.uralsib-q__option-hint svg {
  width: 34px;
  height: 36px;
  margin: 0 auto;
}
.uralsib-q__option-hint div {
  max-width: 80px;
  margin-top: 5px;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}
.uralsib-card {
  position: relative;
  min-height: 400px;
  overflow: hidden;
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.25);
          box-shadow: 0px 3px 5px rgba(0,0,0,0.25);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: -webkit-grab;
  cursor: grab;
}
.uralsib-q.is-correct .uralsib-card,
.uralsib-q.is-incorrect .uralsib-card {
  cursor: default;
}
@media (min-width: 680px) {
  .uralsib-card {
    min-height: 480px;
  }
}
.uralsib-card__hint {
  position: absolute;
  top: 20px;
  left: 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
[data-dir="left"] .uralsib-card__hint--left {
  visibility: visible;
}
[data-opacity="10"][data-dir="left"] .uralsib-card__hint--left {
  opacity: 0.1;
}
[data-opacity="20"][data-dir="left"] .uralsib-card__hint--left {
  opacity: 0.2;
}
[data-opacity="30"][data-dir="left"] .uralsib-card__hint--left {
  opacity: 0.3;
}
[data-opacity="40"][data-dir="left"] .uralsib-card__hint--left {
  opacity: 0.4;
}
[data-opacity="50"][data-dir="left"] .uralsib-card__hint--left {
  opacity: 0.5;
}
[data-opacity="60"][data-dir="left"] .uralsib-card__hint--left {
  opacity: 0.6;
}
[data-opacity="70"][data-dir="left"] .uralsib-card__hint--left {
  opacity: 0.7;
}
[data-opacity="80"][data-dir="left"] .uralsib-card__hint--left {
  opacity: 0.8;
}
[data-opacity="90"][data-dir="left"] .uralsib-card__hint--left {
  opacity: 0.9;
}
[data-opacity="100"][data-dir="left"] .uralsib-card__hint--left {
  opacity: 1;
}
[data-dir="right"] .uralsib-card__hint--right {
  visibility: visible;
}
[data-opacity="10"][data-dir="right"] .uralsib-card__hint--right {
  opacity: 0.1;
}
[data-opacity="20"][data-dir="right"] .uralsib-card__hint--right {
  opacity: 0.2;
}
[data-opacity="30"][data-dir="right"] .uralsib-card__hint--right {
  opacity: 0.3;
}
[data-opacity="40"][data-dir="right"] .uralsib-card__hint--right {
  opacity: 0.4;
}
[data-opacity="50"][data-dir="right"] .uralsib-card__hint--right {
  opacity: 0.5;
}
[data-opacity="60"][data-dir="right"] .uralsib-card__hint--right {
  opacity: 0.6;
}
[data-opacity="70"][data-dir="right"] .uralsib-card__hint--right {
  opacity: 0.7;
}
[data-opacity="80"][data-dir="right"] .uralsib-card__hint--right {
  opacity: 0.8;
}
[data-opacity="90"][data-dir="right"] .uralsib-card__hint--right {
  opacity: 0.9;
}
[data-opacity="100"][data-dir="right"] .uralsib-card__hint--right {
  opacity: 1;
}
@media (min-width: 568px) {
  .uralsib-card__hint {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .uralsib-card__hint--left {
    left: 25px;
  }
  .uralsib-card__hint--right {
    left: auto;
    right: 25px;
  }
}
.uralsib-card__hint-icon {
  position: relative;
  width: 60px;
  height: 60px;
  color: #002d72;
  border: 3px solid currentColor;
  border-radius: 100%;
}
.uralsib-card__hint-icon svg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
@media (min-width: 680px) {
  .uralsib-card__hint-icon {
    width: 75px;
    height: 75px;
  }
}
.uralsib-card__hint-caption {
  margin-top: 5px;
  color: #002d72;
  font-weight: 700;
  line-height: 1;
  text-align: center;
}
.uralsib-card__head {
  position: relative;
  max-height: 280px;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
  background-color: #ffd101;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: max-height 0.2s;
  transition: max-height 0.2s;
}
.uralsib-card__head::before {
  content: '';
  display: block;
  padding-top: 70%;
}
.uralsib-q.is-correct .uralsib-card__head,
.uralsib-q.is-incorrect .uralsib-card__head {
  max-height: 50px;
}
.uralsib-card__img {
  position: absolute;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
  display: block;
  width: 100%;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  pointer-events: none;
}
.uralsib-card__text {
  padding: 20px 10px 10px;
  color: #666;
  font-size: 16px;
  line-height: 1.4em;
}
@media (min-width: 680px) {
  .uralsib-card__text {
    padding: 28px 20px 10px 30px;
    line-height: 1.625em;
  }
}
.uralsib-card__answer {
  -webkit-transform: translate3d(0, -10px, 0);
          transform: translate3d(0, -10px, 0);
}
@media (min-width: 680px) {
  .uralsib-card__answer {
    -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0);
  }
}
.uralsib-card-answer {
  padding: 0 10px 5px;
}
@media (min-width: 680px) {
  .uralsib-card-answer {
    padding: 0 30px 10px 45px;
  }
}
.uralsib-card-answer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 15px;
}
@media (min-width: 680px) {
  .uralsib-card-answer__info {
    margin-bottom: 20px;
  }
}
.uralsib-card-answer__info-img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: block;
  width: 80px;
  height: 80px;
  margin-right: 14px;
  border-radius: 100%;
}
@media (min-width: 680px) {
  .uralsib-card-answer__info-img {
    width: 120px;
    height: 120px;
    margin-right: 24px;
  }
}
.uralsib-card-answer__info-bio {
  margin-top: 25px;
  color: #999;
}
@media (min-width: 680px) {
  .uralsib-card-answer__info-bio {
    margin-top: 50px;
  }
}
.uralsib-card-answer__info-bio p {
  padding: 0;
  margin: 0 !important;
}
.uralsib-card-answer__info-bio p:not(:last-child) {
  margin-bottom: 4px !important;
}
@media (min-width: 680px) {
  .uralsib-card-answer__info-bio p:not(:last-child) {
    margin-bottom: 8px !important;
  }
}
.uralsib-card-answer__title {
  font-size: 20px;
  font-weight: 700;
}
@media (min-width: 680px) {
  .uralsib-card-answer__title {
    font-size: 24px;
  }
}
.uralsib-q.is-correct .uralsib-card-answer__title {
  color: #43b02a;
}
.uralsib-q.is-incorrect .uralsib-card-answer__title {
  color: #ff6c6c;
}
.uralsib-card-answer__text {
  margin-top: 8px;
  padding-right: 15px;
  color: #666;
  font-size: 16px;
  line-height: 1.4em;
}
@media (min-width: 680px) {
  .uralsib-card-answer__text {
    margin-top: 18px;
    line-height: 1.625em;
  }
}
.uralsib-card-answer__next-btn {
  position: relative;
  width: 170px;
  height: 50px;
  padding: 0 20px 0 0;
  margin-top: 24px;
  color: #666;
  font-weight: 700;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: transparent;
  -webkit-transition: color 0.2s, border-color 0.2s, background-color 0.2s;
  transition: color 0.2s, border-color 0.2s, background-color 0.2s;
}
@media (min-width: 680px) {
  .uralsib-card-answer__next-btn {
    margin-top: 44px;
  }
}
.uralsib-card-answer__next-btn svg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;
  margin: auto 0;
}
.uralsib-card-answer__next-btn:hover {
  color: #fff;
  border-color: #666;
  background-color: #666;
}
@media (hover: none), (hover: on-demand) {
  .uralsib-card-answer__next-btn:hover {
    color: #666;
    border-color: #ccc;
    background-color: transparent;
  }
}
.uralsib-result {
  position: relative;
  width: 500px;
  max-width: 100%;
  margin-top: 20px;
}
@media (min-width: 680px) {
  .uralsib-result {
    margin: 20px 0 0 20px;
  }
}
.uralsib-result__img {
  position: absolute;
  bottom: 64px;
  right: -15px;
}
.uralsib-result__text {
  position: relative;
  z-index: 2;
  margin-bottom: 14px;
  color: #fff;
  line-height: 1.4em;
}
@media (min-width: 680px) {
  .uralsib-result__text {
    line-height: 1.722em;
  }
}
.uralsib-result__btn {
  position: relative;
  z-index: 2;
  width: 200px;
  height: 50px;
  padding: 0;
  margin: 0 !important;
  color: #002d72;
  font-weight: 700;
  border: 0;
  border-radius: 5px;
  background-color: #ffd100;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.uralsib-result__btn:hover {
  opacity: 0.6;
}
@media (hover: none), (hover: on-demand) {
  .uralsib-result__btn:hover {
    opacity: 1;
  }
}
.uralsib-result__title {
  position: relative;
  z-index: 2;
  margin-top: 46px;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.417em;
  text-shadow: 0 0 5px #000;
}
@media (min-width: 680px) {
  .uralsib-result__title {
    text-shadow: none;
  }
}
.uralsib-result__subtitle {
  position: relative;
  z-index: 2;
  margin-top: 10px;
  margin-bottom: 18px;
  color: #fff;
  line-height: 1.444em;
  text-shadow: 0 0 5px #000;
}
@media (min-width: 680px) {
  .uralsib-result__subtitle {
    text-shadow: none;
  }
}
.uralsib-result__share {
  position: relative;
  z-index: 2;
  min-height: 44px;
}
.uralsib-offer {
  position: relative;
  width: 500px;
  max-width: 100%;
  margin-top: 22px;
}
.uralsib-offer__icon {
  color: #ffd100;
}
.uralsib-offer__text {
  margin-top: 6px;
  margin-bottom: 30px;
  color: #fff;
  line-height: 1.4em;
}
@media (min-width: 680px) {
  .uralsib-offer__text {
    margin-bottom: 50px;
    line-height: 1.778em;
  }
}
.uralsib-offer__text a {
  color: #ffd100 !important;
  border-bottom: 1px solid #ffd100 !important;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.uralsib-offer__text a:hover {
  opacity: 0.6;
}
@media (hover: none), (hover: on-demand) {
  .uralsib-offer__text a:hover {
    opacity: 1;
  }
}
.uralsib-offer__block {
  width: calc(100% + 10px);
  margin: 0 0 15px -5px;
  padding: 10px;
  border-radius: 5px;
  background-color: #ffd100;
}
@media (min-width: 680px) {
  .uralsib-offer__block {
    width: calc(100% + 30px);
    margin: 0px 0 20px -20px;
    padding: 15px 20px 20px;
  }
}
.uralsib-offer__block-icon {
  color: #002d72;
}
.uralsib-offer__block-text {
  margin: 10px 0 14px;
  color: #002d72;
  line-height: 1.4em;
}
@media (min-width: 680px) {
  .uralsib-offer__block-text {
    line-height: 1.778em;
  }
}
.uralsib-offer__block-btn {
  display: block;
  width: 200px;
  height: 50px;
  color: #002d72 !important;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  border: 0 !important;
  border-radius: 5px;
  background: #fff;
  -webkit-box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
          box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
  -webkit-transition: -webkit-box-shadow 0.2s;
  transition: -webkit-box-shadow 0.2s;
  transition: box-shadow 0.2s;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
}
.uralsib-offer__block-btn:hover {
  -webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
          box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
}
.uralsib-offer__back-btn {
  position: relative;
  padding-left: 28px;
  color: #fff;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: 0.5;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.uralsib-offer__back-btn svg {
  position: absolute;
  top: 50%;
  left: 4px;
  -webkit-transform: translate3d(0, -50%, 0) scale(-1);
          transform: translate3d(0, -50%, 0) scale(-1);
}
@media (hover: none), (hover: on-demand) {
  .uralsib-offer__back-btn {
    opacity: 1;
  }
}
.uralsib-offer__back-btn:hover {
  opacity: 1;
}
.uralsib-offer__img {
  position: absolute;
  bottom: -35px;
  right: -65px;
}
@media (min-width: 680px) {
  .uralsib-offer__img {
    right: -30px;
  }
}
.uralsib-help {
  position: absolute;
  z-index: 99;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0,0,0,0.8);
}
.uralsib-help__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 220px;
}
.uralsib-help__icon {
  color: #ffd100;
}
.uralsib-help__text {
  margin-top: 20px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}
.uralsib-help__text p {
  padding: 0;
  margin: 0 !important;
  line-height: inherit !important;
}
.uralsib-help__text p:not(:last-child) {
  margin-bottom: 20px !important;
}
.uralsib-help__btn {
  margin-top: 34px;
  width: 150px;
  height: 50px;
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  background-color: #ffd100;
}
.uralsib .likely--custom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.uralsib .likely__widget {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 58px;
  height: 44px;
  color: #bfcbdc;
  border: 1px solid currentColor;
  background-color: transparent;
  cursor: pointer;
}
.uralsib .likely__widget:not(:last-child) {
  margin-right: 5px;
}
.uralsib .likely__widget:hover {
  color: #002d72;
  border-color: #bfcbdc;
  background-color: #bfcbdc;
}
@media (min-width: 375px) {
  .uralsib .likely__widget:not(:last-child) {
    margin-right: 10px;
  }
}
@media (min-width: 680px) {
  .uralsib .likely__widget--facebook {
    padding: 0 20px 0 8px;
  }
}
.uralsib .likely__counter {
  display: none;
}
.uralsib .likely__icon {
  background-color: transparent;
}
.uralsib .likely__icon svg {
  display: block;
  width: 24px;
  height: 24px;
  fill: currentColor;
}
.uralsib .likely__icon--vkontakte svg {
  width: 28px;
  height: 28px;
}
@media (min-width: 680px) {
  .uralsib .likely__icon--facebook {
    margin-right: 6px;
  }
}
.uralsib .likely__button {
  display: none;
  line-height: 1;
}
@media (min-width: 680px) {
  .uralsib .likely__button {
    display: block;
  }
}
/*# sourceMappingURL=src/css/special.css.map */

/*# sourceMappingURL=all.css.map*/